<html>
<head>
  <meta charset="UTF-8">
  <title>Pricing Table</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">



</head>
<body>
<section class="sectioncard">
    <div class="titleone text-center">
        
        <h1 class="animated bounceInDown" style="font-size: 50px;">¿Que desarrollamos?</h1>
    </div>
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="card text-center">
            <div class="title">
                
              
              <img src="/assets/img/parejaedificio.svg" alt="" class="iconoedificio">
              <h2 class="titulosistema">Sistemas Empresariales</h2>
            </div>
            <div class="price">
              <br>
            </div>
            <div class="option">
              <ul>
              <li class="titulosistema"> <i class="fa fa-check" aria-hidden="true"></i>Facturacion electronica</li>
              <li class="titulosistema"> <i class="fa fa-check" aria-hidden="true"></i>Inventario</li>
              <li class="titulosistema"> <i class="fa fa-check" aria-hidden="true"></i>Contabilidad</li>
              <li class="titulosistema"> <i class="fa fa-check" aria-hidden="true"></i>Sistemas RR.HH</li>
              </ul>
            </div>
            <a href="#">Cotizar</a>
          </div>
        </div>
        <!-- END Col one -->
        <div class="col-sm-4">
          <div class="card text-center">
            <div class="title">
               
              <img src="/assets/img/smartphone.svg" alt="" class="iconoapp">
              <h2 class="titulosistema">Aplicativos moviles</h2>
            </div>
            <div class="price">
              <br>  <br>
            </div>
            <div class="option">
              <ul>
              <li class="titulosistema"> <i class="fa fa-check" aria-hidden="true"></i>Multiplataforma Ios, Android</li>
              <li class="titulosistema"> <i class="fa fa-check" aria-hidden="true"></i> Escalable </li>
              <li class="titulosistema"> <i class="fa fa-check" aria-hidden="true"></i> offline, online</li>
              <li class="titulosistema"> <i class="fa fa-check" aria-hidden="true"></i>Hibridas, Nativas</li>
              </ul>
            </div>
            <a href="#">Cotizar</a>
          </div>
        </div>
        <!-- END Col two -->
        <div class="col-sm-4">
          <div class="card text-center">
            <div class="title">
              <img src="/assets/img/paginaweb.svg" alt="" class="iconoapp">
              <h2 class="titulosistema">Paginas web</h2>
            </div>
            <div class="price">
              <br><br>
            </div>
            <div class="option">
              <ul>
              <li class="titulosistema"> <i class="fa fa-check" aria-hidden="true"></i>Responsive</li>
              <li class="titulosistema"> <i class="fa fa-check" aria-hidden="true"></i>Posicionamiento Seo</li>
              <li class="titulosistema"> <i class="fa fa-check" aria-hidden="true"></i>Intuitivo</li>
              <li class="titulosistema"> <i class="fa fa-check" aria-hidden="true"></i>Escalable</li>
              </ul>
            </div>
            <a href="#">Cotizar</a>
          </div>
        </div>
        <!-- END Col three -->
      </div>
    </div>
  </div>


  <div class="container">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="card text-center">
                <div class="title">               
                
                  
                  <img src="/assets/img/pruebas.svg" alt="" class="iconoapp">
                  <h2 class="titulosistema">Proyectos Tecnologicos</h2>
                </div>
                <div class="price">
                  <br>
                </div>
                <div class="option">
                  <ul>
                  <li class="titulosistema"> <i class="fa fa-check" aria-hidden="true"></i> 10 GB Space </li>
                  <li class="titulosistema"> <i class="fa fa-check" aria-hidden="true"></i> 3 Domain Names </li>
                  <li class="titulosistema"> <i class="fa fa-check" aria-hidden="true"></i> 20 Email Address </li>
                  <li class="titulosistema"> <i class="fa fa-times" aria-hidden="true"></i> Live Support </li>
                  </ul>
                </div>
                <a href="#">Cotizar</a>
              </div>
            </div>
            <!-- END Col one -->
            <div class="col-sm-4">
              <div class="card text-center">
                <div class="title">
                  <img src="/assets/img/megafono.svg" alt="" class="iconoapp">
                  <h2 class="titulosistema">Marketing Digital</h2>
                </div>
                <div class="price">
                  <br>
                </div>
                <div class="option">
                  <ul>
                  <li class="titulosistema"> <i class="fa fa-check" aria-hidden="true"></i>Publicidad segmentada</li>
                  <li class="titulosistema"> <i class="fa fa-check" aria-hidden="true"></i>Remarketing</li>
                  <li class="titulosistema"> <i class="fa fa-check" aria-hidden="true"></i>Identidad Corporativa</li>
                  <li class="titulosistema"> <i class="fa fa-check" aria-hidden="true"></i>Manejo de medios digitales</li>
                  </ul>
                </div>
                <br>
                <a href="#">Cotizar</a>
              </div>
            </div>
            <!-- END Col two -->
            <div class="col-sm-4">
              <div class="card text-center">
                <div class="title">
                  <img src="/assets/img/consultoria.svg" alt="" class="iconoapp">
                  <h2 class="titulosistema">Consultoría</h2>
                </div>
                <div class="price">
                  <br>
                </div>
                <div class="option">
                  <ul>
                  <li class="titulosistema"> <i class="fa fa-check" aria-hidden="true"></i>Elaboracion de soluciones</li>
                  <li class="titulosistema"> <i class="fa fa-check" aria-hidden="true"></i>Estudios de viabilidad o factibilidad</li>
                  <li class="titulosistema"> <i class="fa fa-check" aria-hidden="true"></i>Gestion de Proyectos</li>
                  <li class="titulosistema"> <i class="fa fa-check" aria-hidden="true"></i>Diseño de estrategias</li>
                  </ul>
                </div>
                <a href="#">Cotizar</a>
              </div>
            </div>
            <!-- END Col three -->
          </div>
        </div>
      </div>

    
</section>
</body>
</html>
