<div class="container footer">
	<!--
	<div class="row">
		
		<div class="col" style="text-align: center;"><i class="fab fa-facebook-square iconosfooter" style="font-size: 60px;color: white;"></i><p style="color: white;">Facebook</p></div>
		<div class="col" style="text-align: center;"><i class="fab fa-youtube" style="font-size: 60px;color: white;"></i ><p style="color: white;">Youtube</p></div>
		<div class="col" style="text-align: center;"><i class="fab fa-twitter-square" style="font-size: 60px;color: white;"></i ><p style="color: white;">Twiter</p></div>
		<div class="col" style="text-align: center;"><i class="fab fa-linkedin" style="font-size: 60px;color: white;"></i ><p style="color: white;">LinkedIn</p></div>
		<div class="col" style="text-align: center;"><i class="fab fa-instagram" style="font-size: 60px;color: white;"></i ><p style="color: white;">Instagram</p></div>
		</div>
	-->
	<div class="containersocial">
		<ul class="social-icons">
			<li><a href="https://www.facebook.com/ayni.script" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
			<li><a href="https://twitter.com/MillerPocco" target="_blank"><i class="fab fa-twitter"></i></a></li>
			<li><a href="https://www.instagram.com/ayniscript/?hl=es-la" target="_blank"><i class="fab fa-instagram"></i></a></li>
			<li><a href="https://www.linkedin.com/in/ayni-script-4b437a197/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
		</ul>
	</div>

		
	  
	  	
	 <div class="row" style="text-align: center;">
		 <div class="col-sm-12">
			 <label style="color: white; font-size: 30px; font-family: 'Raleway',sans-serif;" >Ayni Script dedicado al desarollo de software</label>
			 <p style="color: white; font-family: 'Raleway',sans-serif;">Aplicaciones con la más alta calidad de control</p>

		 </div>

	 </div>
	 	
	 <div class="row" style="text-align: center;">
		  <div class="col-sm-12">
			 
			<i class="fas fa-envelope" style="font-size: 20px;color:white;">&nbsp;<h5 style="font-family: 'Raleway',sans-serif;">ayniscript@gmail.com</h5></i>&nbsp;&nbsp;&nbsp;&nbsp;
			<i class="fas fa-mobile-alt" style="font-size: 20px;color:white;">&nbsp;<h5 style="font-family: 'Raleway',sans-serif;">+51949470607</h5></i>&nbsp;&nbsp;&nbsp;&nbsp;
			<i class="fas fa-home" style="font-size: 20px;color:white;">&nbsp;<h5 style="font-family: 'Raleway',sans-serif;">Andahuaylas-Apurimac</h5></i>
			
		 </div>

	 </div>
	 <br> <hr>
	 <div class="row" style="text-align: center;">
		
		 <div class="col-sm-12">
			<footer style="color: white;">&copy; Copyright 2020 Ayniscript</footer>
		 </div>

	 </div>
	

</div>