.container {
    
    margin-left: 0rem;  ///margen del contenedor
    
}

.navbar-brand{        ///ancho maximo y minimo del bloque marca-logo
    max-width: 15%;
    min-width: 10%;

    
}
.navbar-brand img{          //margen de la imagen 
    margin-left: 0rem;
    margin-right: 10rem;
    min-width: 100%;
    min-height: 100%;
}
.navbar-nav {
    padding-left: 2rem;
}

.item {
    height: calc(100vh-72px);
    min-width: 25rem;
    position: relative;
    width: 100%;
}
.item video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    //width: 100%;
    height: auto;
}
///estilos de navar a las pestañas
.navbar-nav a {
    font-family: 'Franklin Gothic Medium';
    font-size: 15px;
    //text-transform: uppercase;
    font-weight: bold; 
}
.navbar-nav{
    text-align: center;   //ubicacion  del los textos de navbar
}
.w-100{
    height: 100vh;
}
.video-header .navbar {
    background-color: transparent !important; ///trasnsparencia navebar
    
}