///estilos del video para responsive y nabvar
@media screen and (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }

  .video{
    width: 100vw;
  }
}

.top-nav-collapse {
  background-color: #7ca9c760 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #7ca9c760 !important;
  }
}

.rgba-gradient {
 background: -moz-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
 background: -webkit-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
 background: linear-gradient(to 45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
}

///fin de estilos de navbar y video de fondo
///ESTILOS DE letra con google fonts
.navbar-nav {
//font-family: 'Calistoga', cursive;
//font-family: 'Libre Baskerville', serif;
//font-family: 'Lobster', cursive;
//font-family: 'Bitter', serif; //puede seer
//font-family: 'Varela Round', sans-serif;
text-shadow: 4px 4px 4px #aaa ; //sombra de texto
//font-family: 'Tangerine', serif;
//font-family: 'Indie Flower', cursive;
font-size:15px ;
}
//posicion en navbar lista en tooglemenu
.navbar-nav a{
text-align: left;  

}
//estilos de presentacion div sobre el video
video{
  width: 100%;
}

view .contenedor{
position: relative;
display: inline-block;
text-align: center;
}
//barra delgada division
hr {
animation-duration: 1s;
animation-delay: 1s;
width: auto;
height: 1px;
border-color: #0682B6;
}  
/*contenedor de presentacion sobre el video*/
.centrado{
//font-family: 'Dancing Script', cursive;
position: absolute;
top: 42%;
left: 50%;
transform: translate(-50%, -50%);
}
h3{

//animation-duration: 1s;
//animation-delay: 2s;
font-family: 'Anton', sans-serif;
font-size: 40px;
//animation-iteration-count: infinite;
}
.contenedor p{
//animation-duration: 1s;
//animation-delay: 2s;
font-family: 'Anton light', sans-serif;
font-size: 16px;

}
/*fin ---contenedor de presentacion sobre el video*/