<!DOCTYPE html>
<html lang="en" class="full-height">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Document</title>
   
<!--fin videos responsive y navbar-->
</head>

<body>
    <!-- Main navigation -->
  <header>
        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark  scrolling-navbar">
          <div class="container-fluid ">
            <a class="navbar-brand " href="#"><img src= "/assets/img/logoblancoweb1.png" class="img-fluid d-inline-block lign-middle mr-2" width="180" alt= "" ></a> <!--LOGO DE LA EMPRESA-->
            <!--menu hamburguesa toggle-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation"> <!--MENU TOOGLE-->
              <span class="navbar-toggler-icon"></span>
            </button>
            <!--fin  ...menu hamburguesa toggle-->
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
              <ul class="navbar-nav ml-auto smooth-scroll mt-2 mt-lg-0">
                <li class="nav-item ">
                  <a class="nav-link" href="#SERVICIOS" data-offset="90">SERVICIOS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#TU_PROYECTO" data-offset="90">TU PROYECTO</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#MATERIAL_EDUCATIVO" data-offset="90">EDUCATIVO MATERIAL </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#BLOG" data-offset="90">BLOG</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#CONTACTENOS" data-offset="90">CONTACTENOS</a>
                </li>
              </ul>
              <!-- social Icon  -->
              <ul class="navbar-nav nav-flex-icons justify-content-center">
                <li class="nav-item">
                  <a class="nav-link">
                    <i class="fab fa-facebook-f light-green-text-2"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">
                    <i class="fab fa-twitter light-green-text-2"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">
                    <i class="fab fa-instagram light-green-text-2"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- Navbar -->
        <!-- Full Page Intro -->
        <div class="view intro-video">
          
          <video  playsinline autoplay muted loop>
            <source src="assets/video/fondoayni1.mp4" type="video/mp4">
          </video>
           <!--caja de presentacion encima del video-->
           <div class="contenedor float-right">
              <div class="centrado white-text ">
                <h3 class="display-4 text-center animated fadeInUp delay-2s ">TECNOLOGÍA Y CONOCIMIENTO <br> QUE CAMBIA VIDAS</h3>
                <div class="separador"><hr class="animated jackInTheBox delay-2s"></div>
                <p class="lead mb-0 text-center animated fadeInUp delay-2s" >Automatizamos, digitalizamos, desarrollamos software y mejoramos el entorno del ser humano en armonía con el medio ambiente.</p>
              </div>
            
            <!--fin caja de presentacion encima del video-->
            </div>

        </div>
      
        <!-- Full Page Intro -->
    </header>
    
</body>








 <!--fin html-->
</html>
