<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header class="item">
        
    <div class="he-video" class="embed-responsive embed-responsive-16by9">
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="assets/video/fondoayni1.mp4" type="video/mp4">
        </video>
    </div>

<nav class= "navbar navbar-expand-lg navbar-light fixed-top scrolling-navbar" >                  <!--fixed top hace fijar en la parte superior a navbar-->
    <div class="container">
        <a class= "navbar-brand" href= "#"  ><img src= "/assets/img/logoblancoweb1.png" class="img-fluid d-inline-block " alt= "" ></a>                      <!--en este apartado se poen el logo o marca-->
        <button class= "navbar-toggler" type= "button" data-toggle= "collapse" data-target= "#navbarSupportedContent-7" aria-controls= "navbarSupportedContent-7" aria-expanded= "false" aria-label= "Toggle navigation" > <!--Este es el boton de menu toogle-->
            <span class= "navbar-toggler-icon" ></span> 
        </button>

        <div class= "collapse navbar-collapse" id= "navbarSupportedContent-7" >
            <ul class= "navbar-nav ml-auto" >                                   <!-- mxl-auto pone a la izquierda al bloque / u -> una lista horizontal-->
                <li class= "nav-item" >
                    <a class= "nav-link text-white" href= "#"  >SERVICIOS</a>
                </li> 
                <li class= "nav-item " >
                    <a class= "nav-link text-white" href= "#" >TU PROYECTO</a>
                </li>
                <li class= "nav-item" >
                    <a class= "nav-link text-white" href= "#" >MATERIAL EDUCATIVO</a>
                </li>
                <li class= "nav-item" >
                    <a class= "nav-link text-white" href= "#" >BLOG</a>
                </li>
                <li class= "nav-item" >
                    <a class= "nav-link text-white" href= "#" >CONTACTENOS</a>
                </li>
            </ul> 
        </div>
    </div>
</nav> 

</header>
<body>
    <section><h1>holaa</h1></section>
</body>





</html>
