


<div class="container-fluid">
        <div class="row">
          <div class="col-sm">
                <div class="card mb-3" style="max-width: 540px">
                        <div class="row no-gutters">
                          <div class="col-md-4" style="margin-top: 50px; margin-bottom: auto;padding-left: 20px;">
                            <img src="/assets/img/sistemasempresariales.png" class="card-img" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body text-left" style="margin-top: 55px;">
                              <h5 class="card-title animated bounceInRight">Sistemas Empresariales</h5>
                              
                              
                            </div>
                          </div>
                        </div>
                      </div>
                
          </div>
          <div class="col-sm">
                <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                          <div class="col-md-4" style="margin-top: 50px; margin-bottom: auto;padding-left: 20px;">
                                
                            <img src="/assets/img/desarolloapp.png" class="card-img" alt="...">
                          </div>
                          <div class="col-md-8 text-left">
                            <div class="card-body" style="margin-top: 55px;">
                              <h5 class="card-title animated bounceInRight">Aplicativos Moviles</h5>
                              
                              
                            </div>
                          </div>
                        </div>
                      </div>
                
          </div>
          <div class="col-sm">
                <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                          <div class="col-md-4" style="margin-top: 50px; margin-bottom: auto;padding-left: 20px;">
                            <img src="/assets/img/paginaweb.png" class="card-img" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body text-left" style="margin-top: 60px;">
                              <h5 class="card-title animated bounceInRight">Paginas Web</h5>
                              
                              
                            </div>
                          </div>
                        </div>
                      </div>
                
          </div>
        </div>



        <div class="row">
                <div class="col-sm">
                      <div class="card mb-3" style="max-width: 540px;">
                              <div class="row no-gutters">
                                <div class="col-md-4" style="margin-top: 50px; margin-bottom: auto;padding-left: 20px;">
                                  <img src="/assets/img/proyectostecnologicos.png" class="card-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                  <div class="card-body" style="margin-top: 55px;">
                                    <h5 class="card-title animated bounceInRight">Proyectos tecnologicos</h5>
                                    
                                   
                                    
                                  </div>
                                </div>
                              </div>
                            </div>
                      
                </div>
                <div class="col-sm">
                      <div class="card mb-3" style="max-width: 540px;">
                              <div class="row no-gutters">
                                <div class="col-md-4" style="margin-top: 50px; margin-bottom: auto; padding-left: 20px;">
                                  <img src="/assets/img/marketingdigital.png" class="card-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                  <div class="card-body" style="margin-top: 55px;">
                                    <h5 class="card-title animated bounceInRight">Marketing digital</h5>
                                    
                                    
                                    
                                  </div>
                                </div>
                              </div>
                            </div>
                      
                </div>
                <div class="col-sm">
                      <div class="card mb-3" style="max-width: 540px;">
                              <div class="row no-gutters">
                                <div class="col-md-4" style="margin-top: 50px; margin-bottom: auto;padding-left: 20px;">
                                  <img src="/assets/img/consultoria.png" class="card-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                  <div class="card-body" style="margin-top: 55px;">
                                    <h5 class="card-title animated bounceInRight">Consultoría</h5>
                                    
                                   
                                  </div>
                                </div>
                              </div>
                            </div>
                      
                </div>
              </div>
</div>