<div class="container " >

    <div class="row d-flex flex-wrap align-content-center align-items-center " style=" height:60vh;text-align: center;">
      <div class="p-2 col-12 col-sm-5 text-white animated fadeInUp delay-2s" >
        <span style="font-size: 70px;" class=" titleSOLO" >Solo..</span><br>
        <p class="">EDUCACIÓN Y CONOCIMIENTO <br> CAMBIARÁ AL MUNDO!!</p>
      </div>
      <div class="p-2 col-12 col-sm-2 text-white animated fadeInUp delay-2s justify-content-center" >
        <div class="icon">
            <button type="button" class="  btn btn-circle btn-xl "><a href=""><i class="fa fa-book-open"></i></a></button>
            <p class="">LIBROS</p>
        </div>			
      </div>
    </div>
  <div class=" row d-flex flex-wrap align-content-end align-items-center justify-content-center" style="height:45vh; text-align: center;">
    <div class="p-2 col-12 col-sm-3 text-white animated fadeInUp delay-2s justify-content-center">
      <div class="icon">
        <button type="button" class="btn btn-circle btn-xl "><a href=""><i class="fa fa-film"></i></a></button>
        <p class="">VIDEOS</p>
      </div>
    </div>
    <div class="p-2 col-12 col-sm-3 text-white animated fadeInUp delay-2s justify-content-center">
      <div class="icon">
        <button type="button" class="btn btn-circle btn-xl "><a href=""><i class="fas fa-headphones-alt"></i></a></button>
        <p class="">AUDIOS</p>
      </div>
    </div>
  </div>
  
  </div>
    


